.debug {
  background-color: red;
}

/* MAIN NAV */

header nav {
  background-color: #2C3E50;
  color: white;
  padding: 20px 0;
}

header nav li {
  display: inline-block;
}

header nav li:not(:last-child) {
  margin-right: 20px;
}

/* Responsive */

@media screen and (max-width:991px) {
  header nav ul {
    display: none;
  }
}

/* HERO SECTION */

header .hero {
  background-color: #1ABC9C;
  padding: 40px 0;
}

header .hero h1 {
  font-size: 70px;
}
