.debug {
  background-color: rgba(125, 0, 0, 0.2);
}

/* MAIN NAV */

header {
  color: white;
}

header nav {
  background-color: #2C3E50;
  padding: 20px 0;
}

header nav li {
  display: inline-block;
}

header nav li:not(:last-child) {
  margin-right: 20px;
}

/* Responsive */

@media screen and (max-width:991px) {
  header nav ul {
    display: none;
  }
}

/* HERO SECTION */

header .hero {
  background-color: #1ABC9C;
  padding: 40px 0;
}

header .hero h1 {
  font-size: 70px;
}

/* MAIN */

/* PORTFOLIO */
main .portfolio {
  padding: 40px 0;
}

main .portfolio .box_img_pf {
  background-color: red;
  margin: 20px 0;
  padding: 20px 0;
}

/* ABOUT */
main .about {
  background-color: #1ABC9C;
  color: white;
  padding: 50px 0 35px;
}

main .about h2 {
  margin-bottom: 20px;
}

main .about .btn-download {
  margin: 20px 0;
}

/* CONTACT ME */
main .contact-me {
  padding: 30px;
}

main .contact-me .text-left .row:not(:nth-last-child(2)) form {
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
}

main .contact-me .btn-contact-me {
  margin-top: 40px;
  border-top: 1px solid lightgrey;
  padding-top: 10px;
}

/* FOOTER */
footer {
  background-color: #2C3E50;
  color: white;
  padding-top: 40px;
}

footer .container-fluid.darker-blue {
  background-color: #1A252F;
  margin-top: 40px;
}

footer .copyright {
  margin: 20px 0;
}
